@import 'normalize.css';

/* Primary container */
.grid-container {
  width: 100%;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.row-full {
  width: 100%;
  max-width: 1200px;
  display: block;
  height: auto;
  margin: 1em 0;
}
/* Clearfix */
.row:before,
.row:after {
  content: '';
  display:table;
  clear:both;
}
/* Main column styles */
.col-1, .col-4, .col-6, .col-8 {
  display: inline-block;
  float: left;
}

.col-1 {
  width: 8.33%;
  height: 75px;
}



